<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="youtube_channel_id" type="text" option="writeable" label="30006" default="test"/>
    <setting id="youtube_language" type="text" option="writeable" label="30007" default="es"/>
    <setting id="last_search" type="text" option="writeable" label="30001" default="live streaming"/>
    <setting id="dmUser" type="text" label="30106" default=""/>
       <setting id="search_string" type="enum" label="30107" values="ABC|ABCDEFG" default="1"/>
    <setting id="itemsPerPage" type="enum" label="30107" values="25|50|75|100" default="1"/>
    <setting id="maxVideoQuality" type="enum" label="30105" values="480p|720p|1080p" default="1"/>
    <setting id="forceViewMode" type="bool" label="30102" default="false"/>
    <setting id="viewMode" type="number" label="30103" default="500"/>
</settings>
